@font-face {
  font-family: Officina;
  src: url('../../../fileadmin/app/css/fonts/26BADA_0_0.woff')
}

@font-face {
  font-family: 'glyphiconsocial';
  font-weight: normal;
  font-style: normal;
  src: url('../../../fileadmin/app/css/./fonts/GLYPHICONS-Social-Regular.otf');
}

@font-face {
  font-family: "Glyphicons";
  src: url("https://d3d7gax5kykxms.cloudfront.net/icons_general/glyphicons-basic.woff2") format("woff2"),
  url("https://d3d7gax5kykxms.cloudfront.net/icons_general/glyphicons-basic.woff") format("woff");
}

.clear {
  clear: both;
}

a:any-link {
text-decoration: none;
}

.navbar-mainnavigation .navbar-brand-image {
padding-top: 0px;
padding-bottom: 0px;
}

.navbar-nav li {border-top: 3px solid #fff;}
.navbar-nav li.active {border-color: #e1d84d;}
.navbar-nav > li:hover {background-color:#e3e3e3;border-color: #e1d84d;opacity: 0.75;}

.navbar-nav li:hover a.nav-link .nav-link-text { color:#000000; }
.navbar-nav li a.nav-link:before { display:none; }

#mainnavigation #language_menu {
  line-height:30px;
}

#mainnavigation .navbar-nav li.language-menu-toggle {
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

#mainnavigation .navbar-nav li.language-menu-toggle:hover {
  background-color:transparent;
  opacity: 1;
}

.navbar-fixed-top .navbar-collapse.show,
.navbar-fixed-bottom .navbar-collapse.show {
  overflow: visible;
}

/*.navbar > .container,
.navbar > .container-fluid {
  -ms-align-items: stretch;
  align-items: stretch;
}*/

.navbar-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
  -ms-align-items: stretch;
  align-items: stretch;
}

.navbar-nav li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.navbar-nav li a {
  font-family: Officina;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-transform: none;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  flex-grow: 1;
}
.navbar-nav li ul li a {
  font-size: 16px;
}

.navbar-nav > li > .dropdown-menu {
  /* margin-top: 90px; */
  top: 100%;
  left: 0;
}

.navbar-nav > li.open > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  /* z-index: 1; */
}

.navbar-nav > li > .dropdown-menu.language-menu {
  left: auto;
  right: 0;
  top: 70%;
}

#nav-item-8 {
  color: #ff6600;
}

.navbar-mainnavigation .navbar-nav > li.active > .nav-link::before, .navbar-mainnavigation .navbar-nav > li.show > .nav-link::before, .navbar-mainnavigation .navbar-nav > li.active > .nav-link::before {
opacity: 1;
}

.navbar-mainnavigation .navbar-nav > li > .nav-link:focus::before, .navbar-mainnavigation .navbar-nav > li > .nav-link:hover::before, .navbar-mainnavigation .navbar-nav > li:hover > .nav-link::before {
opacity: 0.75;
}

.dropdown-menu {
  padding: 0px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
  min-width: 110px;
  display: block;
  top: 0;
  /* transform: translateY(-100%); */
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s linear;
  /* z-index: -1; */
}
.language-menu {
  padding-left: 0px;
  list-style: outside none none;
  margin-left: -5px;
  /* left: auto; */
}
.language-menu > li {
  padding-left: 0px;
  border: none;
}

.language-menu > li > a {
  display: block;
  border-left: 3px solid transparent;
  color: rgba(0, 0, 0, 0.5);
  padding: 7px;
}

.language-menu > li > a:hover,
.language-menu > li.active > a {
  border-color: #e1d84d;
  color: #000;
}

.language-menu > li > a:hover {
  background: #e3e3e3;
  opacity: 0.75;
}

.language-menu-toggle .dropdown-toggle {
  display:block;
  /* width:20px; */
  height:20px;
  /* margin-top:8px; */
  outline: none;
  position: relative;
}

.language-menu-toggle .dropdown-toggle:after {
  position: absolute;
  top: -2px;
  right: -3px;
  border-width: 1px 1px 0 0;
  border-color: #4d4d4d #4d4d4d transparent transparent;
  border-style: solid;
  display: block;
  margin: auto;
  bottom: 0;
  width: 6px;
  height: 6px;
  transform: rotate(135deg);
}

.language-menu-toggle .dropdown-toggle > span {
  display: block;
}

.language-menu-toggle .dropdown-toggle > span > svg {
  display: block;
}

.language-menu-toggle .dropdown-toggle a { color:#ddd; }
.language-menu-toggle .show { visibility:visible; opacity:1; }

.breadcrumb-section {
  margin-top: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.langhide {
  display: none;
}
#langshort {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 3px;
  vertical-align: middle;
  font-size: 75%;
  line-height: 1.6;
}
h1,
.h1 {
  background-color: #E1D84D;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  display: inline-block
}
h3,
.h3 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h5,
.h5 {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b3b3b3;
  font-weight: 400;
}

td.glyphicon.glyphicon-ok.text-center {    
  vertical-align: middle;
}

td.glyphicon.glyphicon-ok.text-center:after {    
    content: "\e294";
    font-family: 'Glyphicons';
    font-size: 1.25rem;
}

.gallery-item img, .gallery-item picture {
width: auto;
}

.accordion-title-link-state:before, .accordion-title-link-state:after {
height: 5px;
}

.cc-window, .cc-revoke {
opacity: 0.9;
}

.btn-primary,
.btn-info,
.btn-danger,
.btn-default,
.btn-success,
.btn-warning
.btn-sm,
.btn-group-sm {
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;
}

.btn-sm,
.btn-group-sm > .btn {
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
}

.section-light a.btn-danger, .section-light a.btn-danger:hover {
  color: #ffffff;
}

.section-primary {
background-color: #f8f8f7;
}

.footer-section-content a {
color: #ffffff;
}
.panel {
  box-shadow: 0px 1px 1px transparent;
}
.panel-title {
  font-size: x-large;
}
.panel-title a {
  display: block;
  padding: 10px 15px;
}
/*.panel-default:first-child .panel-title a:before {
    content: '\2212';
    font-family: 'Glyphicons Halflings';
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    padding-right: 10px;
}*/

.panel-title a:before,
.panel-default:first-child .nonactive .panel-title a:before {
  content: '\2b';
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  padding-right: 10px;
}
.active .panel-title a:before {
  content: '\2212';
  font-family: 'Glyphicons Halflings';
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  padding-right: 10px;
}
.panel-heading {
  padding: 0px 0px;
}

.control-label {
  font-weight: 100;
  font-size: large;
}

figure .caption {
word-break: normal;
opacity: 0.8;
display: inline-block;
text-align: left;
}

figure {
  text-align: center;
}

/*#c418,
#c493,
#c565,
#c1090,
#c1334,
#c1487,
#c1489,
.slick-cloned {
  font-size: 1.2em;
  font-weight: 200;
}*/

#c136,
#c163,
#c173,
#c186,
#c199,
#c450,
#c732,
#c1240,
#c1244,
#c1257,
#c1263 {
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  animation-name: wiggle;
  -o-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -moz-animation-name: wiggle;
  -webkit-animation-name: wiggle;
  animation-duration: 20s;
  -o-animation-duration: 20s;
  -ms-animation-duration: 20s;
  -moz-animation-duration: 20s;
  -webkit-animation-duration: 20s;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running
}
#c136:hover,
#c163:hover,
#c173:hover,
#c186:hover,
#c199:hover,
#c450:hover,
#c732:hover,
#c1240:hover,
#c1244:hover,
#c1257:hover,
#c1263:hover {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused background-color: #cc6633;
}
@-webkit-keyframes wiggle {
  0.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg)
  }
  1.25% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg)
  }
  1.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg)
  }
  2% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg)
  }
  2.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg)
  }
  3% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg)
  }
  3.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg)
  }
  4% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg)
  }
  4.5% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0)
  }
  5.0% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0)
  }
}
@keyframes wiggle {
  0.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg)
  }
  1.25% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg)
  }
  1.5% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg)
  }
  2% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg)
  }
  2.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg)
  }
  3% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg)
  }
  3.5% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg)
  }
  4% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg)
  }
  4.5% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0)
  }
  5.0% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0)
  }
}

.carousel .carousel-control-icon:before {
width: .75em;
height: .75em;
border-top: 1px solid #ffffff;
border-right: 1px solid #ffffff;
}

.carousel .carousel-item h1 {
padding-left: 1.5rem;
}

#carousel-1087 .carousel-inner {
height: 150px;
}

#carousel-1087 .carousel-content {
height: 150px;
}

#carousel-1087 .carousel-indicators {
  display: none;
}


#c483 tbody tr:not(:last-of-type) td.text-center,
#c1280 tbody tr:not(:last-of-type) td.text-center,
#c1913 tbody tr:not(:last-of-type) td.text-center,
#c1972 tbody tr:not(:last-of-type) td.text-center {
  border-bottom: 1px solid #ebebeb;

}

#c483 thead th h2,
#c1280 thead th h2,
#c1913 thead th h2,
#c1972 thead th h2{
  margin-bottom: 0px;
}

#c483 td,
#c1280 td,
#c1913 td,
#c1972 td {
  padding: 10px;
}

#c487 {
  max-width: 700px;
  margin: auto;
}

#c2250 .table thead th {
  border-bottom: 2px solid #e1d84d;
  border-top: 0px;
}


input:focus,
textarea:focus {
  background: #F0F0F0;
  border: 1px solid #CCC;
  color: #777;
}
/*#c823 .blog-nav a {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}*/
.blog-list-header {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.blog-list-header a {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
}
.blog-list-header a:hover {
  color: #ff00cc;
}
.post {
  width: 100%;
  float: none;
  display: none;
  padding: 0.5em;
  margin-bottom: 2em;
  margin-right: 2em;
  box-shadow: 0 .125rem .1875rem 0 rgba(0, 0, 0, .33)
}

#c1010 .image .lazyload, #c1021 .image .lazyload {
  box-shadow: 0 .125rem .1875rem 0 rgba(0, 0, 0, .33);
  margin-top: 1em;
}

.tx-blog-post-list .f3-widget-paginator {
  display: none;
}

/* sharing */
.sharemeblog {
padding: 0.5rem 1rem 0.25rem;
text-transform: uppercase;
display: block;
float: left;
color: #fff;
margin-right: 1.5rem;
margin-bottom: 1rem;
}

.sharemeblog:hover { color:#fff; filter: brightness(80%); }

#facebook { background-color:#3C5A98; }
#twitter  { background-color:#1DA1F3; }
#xing  { background-color:#006567; }
#linkedin { background-color:#0077B5; }
#mail { background-color:#4D4D4D; }


.sharemeblog span {
font-size: 2rem;
margin-right: 1rem;
}
.sharemeblog span.socialtext {
font-size: 1rem;
line-height: 2rem;
display: table-cell;
vertical-align: middle;
float: right;
margin-right: 0px;
}

@media (max-width: 1199px) {
  .navbar-nav li a {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
     #mainnavigation, .navbar-transition #mainnavigation { line-height:inherit; }

     .language-menu > li > a:hover,
     .language-menu > li.active > a {
      color: #000 !important;  /* if possible we should remove !important from here */
     }

     .navbar-nav li {
        border-top: none;
        border-left: 3px solid transparent;
     }

     .language-menu > li {
       border: none;
     }

     .navbar-mainnavigation .navbar-nav .nav-link {
       margin-left: 0;
       margin-right: 0;
     }

     #mainnavigation .navbar-nav li.language-menu-toggle {
       padding-left: 10px;
       padding-right: 10px;
       position: relative;
     }

     .navbar-fixed-top .navbar-collapse.show,
     .navbar-fixed-bottom .navbar-collapse.show {
       overflow-y: auto;
     }

     .language-menu-toggle .dropdown-toggle:after {
      right: auto;
      top: 0;
      left: 36px;
      transform: rotate(45deg);
     }

     .nav-tabs.tab-navigation {
      max-width: 375px;
      margin-left: auto;
      margin-right: auto;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column; 
     }

     .nav-tabs.tab-navigation .nav-item {
      padding: 4px;
     }
}

@media (min-width: 992px) {

  .post {
    width: 47%;
    float: left;
  }
  #c750 .post {
    width: 100%;
    float: none;
  }
  #c751 .post {
    width: 100%;
    float: none;
  }
  #c753 .post {
    width: 100%;
    float: none;
  }
}

#c921 {
  clear: both;
}

.tx-blog-widget {
  clear: both;
  margin-top: 1.5em;
}
.img-post-list {
  margin-bottom: 0.5em;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
    width: 100%;
    height: auto;
}

.img-post-list:hover {
  opacity: .75;
}
.entry-date a {
  color: #b3b3b3;
  padding-right: 0.5rem;
}
.entry-date a:hover {
  color: #ff00cc;
}
.label-category {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  border-radius: 0em;
  font-variant-caps: all-small-caps;
  background-color: #e3e3e3;
  color: #4d4d4d;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0.25rem;
  display: inline-block;
}
.label-category:hover {
  color: #fff;
  background-color: #ff00cc;
}
.label-tag {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  border-radius: 0em;
  font-variant-caps: all-small-caps;
  background-color: #e3e3e3;
  color: #4d4d4d;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0rem;
  padding-bottom: 0.25rem;
  display: inline-block;
}
.label-tag:hover {
  color: #fff;
  background-color: #ff00cc;
}
#langshort {
  display: none;
}
#language_menu .text-muted {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.frame {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.section iframe {
  min-width: 100%;
  vertical-align: top;
  width: 1px;
  *width: 100%;
}

.nav-tabs {
  border: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-tabs > li {
  margin-bottom: 0;
  padding: 0 4px;
}

.nav-tabs > li > a {
  padding: 9px 23px;
  font-size: 13px;
  line-height: 1.4375;
  text-transform: uppercase;
  border: 1px solid #e3e3e3;
  margin: 0;
  /*min-width: 187px;*/
  text-align: center;
}

/*.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #535353;
  background: #f8f8f7;
}*/

.nav-tabs .nav-link,
.nav-tabs .nav-item.active .nav-link {
  position: relative;
  border-color: #dee2e6;
  color: #495057;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link.active,
.nav-tabs .nav-item.active .nav-link.active {
  border-color: #535353;
  background: #f8f8f7;
}

.nav-tabs > li > a:hover {
  border-color: #535353;
  background: #f8f8f7;
}

.csc-frame table {
  table-layout: fixed;
  min-width: 497px;
}

.csc-frame table td.glyphicon {
  display: table-cell;
}

.csc-frame table th:first-child,
.csc-frame table th:last-child
.csc-frame table td:first-child,
.csc-frame table td:last-child {
  width: 47%;
}

.csc-frame table th:nth-child(2),
.csc-frame table td:nth-child(2) {
  width: 6%;
}

div#tabcontent-1972 .fade {
    transition: none;
}

table.table-pricing {
  table-layout: fixed;
}

table.table-pricing th,
table.table-pricing td {
  width: 47%;
  position: relative;
}

table.table-pricing th:nth-child(2),
table.table-pricing td:nth-child(2) {
  width: 6%;
}

table.table-pricing thead th {
  border: none;
}

table.table-pricing thead th h2 {
  line-height: 1.1;
}

table.table-pricing thead th.label-primary {
  background: #e1d84d;
}

table.table-pricing thead th.label-default {
  background: #4d4d4d;
  color: #fff;
}

table.table-pricing th:nth-child(2),
table.table-pricing td:nth-child(2) {
  border: none;
}

table.table-pricing tfoot td {
    border: none;
}

/*table.table-pricing .glyphicon .icon-ok {
  width: 8px;
  height: 14px;
  border-width: 0 3px 3px 0;
  border-color: transparent #4d4d4d #4d4d4d transparent;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  bottom: 0;
  right: 0;
  margin: auto;
}*/

@media (min-width: 768px) {
    

  .frame {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .nav-tabs > li > a {
    font-size: 16px;
    min-width: 187px;
  }
}
@media (min-width: 992px) {
  .frame {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }

  .navbar > .container,
  .navbar > .container-fluid {
    -ms-align-items: stretch;
    align-items: stretch;
  }
}
@media (min-width: 1200px) {
  .frame {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media (max-width: 991px) {
  .section iframe {
    height: 1820px;
  }
  .navbar-nav > li > .dropdown-menu {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
/*     bottom: 0; */
    margin-left: 25px;
    background: #fff;
    margin-top: 0;
    transform: translate(-50%, 100%);
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.08);
    transition: all 0.3s linear, transform 0.3s linear;
    z-index: 9;
    margin-bottom: 5px;
    /* opacity: 1; */
    /* visibility: visible; */
    border: none;
  }
  .navbar-nav > li.open > .dropdown-menu {
    position: absolute;
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    margin-left: 35px;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.08);
  }

  .navbar-nav > li > .dropdown-menu.language-menu {
    top: auto;
    bottom: 0;
    left: 70px;
    right: auto;
    margin: 0;
    transform: none;
    z-index: 11;
  }

  .navbar-nav > li.dropdown > a {
    /* background: #fff !important; */
    padding-right: 10px;
    position: relative;
    z-index: 10;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-nav .language-menu-toggle .glyphicon-menu-down {
    transition: transform 0.3s linear;
  }
  .navbar-nav .language-menu-toggle.open .glyphicon-menu-down {
    transform: rotate(180deg);
  }
  .navbar-mainnavigation .navbar-nav > li > .nav-link::before {
    height: 3px;
  }
  
  
}




@media (max-width: 767px) {
  .section iframe {
    height: 1860px;
  }

  table.table-pricing {
    min-width: 480px;
  }

  .container .frame-container#sharebar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }

  .sharemeblog {
    padding: 0.4rem 0.4rem 0.15rem;
    margin: 0 0.5rem 1rem;
  }

  .sharemeblog span {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .sharemeblog span.socialtext {
    display: none;
  }
}

@media (max-width: 480px) {
  .section iframe {
    height: 2025px;
  }
}

@media (min-width: 576px) {
  .accordion-title {
font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .accordion-title {
font-size: 1.375rem;
  }
}

@media (min-width: 992px) {
  .accordion-title {
font-size: 1.5rem;
  }
}